#set($useCKEditor = true)
#set($isBootstrap = true)
#set($breadCrumbs = [{"name": "资讯"}])
#set($title = "资讯新增")
<div class="row" id="panel-advancedoptions">
	<div class="col-xs-12">
		<div class="panel panel-default" id="p1">
			<div class="panel-heading">
				<h2></h2>
			</div>
			
			<div class="panel-body">
				<div class="p10">
					<label for="zhName">
						<b class="mod-ajaxform-require">*</b>标题：
					</label>
					
                    <div >
                    	<input id="title" name="title" class="form-control" value="#if($!{news})$!{news.title}#end" type="text">
                    </div>
				</div>
				<div class="p10">
					<textarea class="ckeditor" name="ckeditor">#if($!{news})$!{news.content.content}#end</textarea>
				</div>
				<div class="p10">
					<button type="submit" class="btn-primary btn" id="editorSubmit">保存</button>
                </div>
            </div>
		</div>
	</div>
</div>
<script type="text/javascript">
$("#editorSubmit").on("click", function(e){
    $.ajax({
		type:'post',
		#if($!{news})
			url:'/api/news/edit',
		#else
			url:'/api/news/add',
		#end
		data:{
			"title":$("#title").val(),
			#if($!{news})
				newsId:$!{news.id},
			#end
			"content":CKEDITOR.instances.ckeditor.getData()
		},
		dataType:'json',
		success:function(data){
			if (data.isRedirect) {
				location.href=data.redirectURL;
			} else {
				if (data.isSuccess) {
					location.reload();
				} else {
					alert(data.msg);
				};
			}
		}
	});
});
</script>