#tag-group .col-main {
  position: relative;
}
#tag-group .col-main .tag-group-title {
  padding-left: 10px;
  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  background: url("http://test.showjoy.com/console/assets/1.0/image/header-footer-bg.png") 0 -100px repeat-x #dddddd;
}
#tag-group .col-main .tag-group-add {
  position: absolute;
  top: 5px;
  right: 10px;
}
.tag-group-table {
  width: 100%;
  text-align: center;
}
.tag-group-table th,
.tag-group-table td {
  padding: 10px;
  vertical-align: middle;
  border: 1px solid #AAA;
}
.tag-group-table th {
  height: 30px;
  line-height: 30px;
  background: #eee;
  font-size: 14px;
}
.tag-group-table input {
  text-align: center;
}
.tag-group-table textarea {
  width: 600px;
  height: 60px;
  resize: none;
}
.tag-group-table .tag-group-mark {
  display: inline-block;
  padding: 0 10px;
  visibility: hidden;
  font-size: 16px;
  vertical-align: middle;
}
.tag-group-table .tag-group-mark-unsave {
  visibility: visible;
  color: #f00;
}
.tag-group-table .tag-group-mark-saved {
  color: #0f0;
  visibility: visible;
}
