#set($isEmptyPage = 1)
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>管理系统</title>
    <meta name="keywords" content="Buyerology">
    <meta name="description" content="Buyerology">

    <link rel="stylesheet" type="text/css" href="assets/1.0/lib/bootstrap/css/bootstrap.min.css">
</head>

<body class="container">
    <form class="form-horizontal" role="form" action="/api/user/login" method="post">
      <h1>后台管理系统</h1>
      <hr>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-1 control-label">手机号</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inputEmail" placeholder="手机号" name="phone">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-sm-1 control-label">密码</label>
        <div class="col-sm-4">
          <input type="password" class="form-control" id="inputPassword" placeholder="密码" name="password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-4">
          <button type="submit" class="btn btn-default">登陆</button>
        </div>
      </div>
    </form>
</body>
</html>